* {
  margin: 0px;
}

header {
  background-color: black;
}
header nav {
  text-align: center;
}

header nav ul {
  list-style-type: none;
}

header nav ul li a {
  text-decoration: none;
  color: white;
}

main {
  text-align: center;
}

footer {
  text-align: center;
  background-color: black;
}
